# Docker setup files (Lucas will just do)
.dockerignore
setup_docker.ps1
Dockerfile

# Other scripts used locally
build_dataset.ps1
build_verl_dataset.ps1

# local dirs to ignore
archive/
rebuttals/
local_testing/
llm_chess/data/model_outputs/
llm_chess/data/preprocessed_train_data/
llm_chess/data/raw/programmatic_explanations/data/
llm_chess/paper/

# Excessively large files
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC_bestmove_5mm_p1.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC_bestmove_5mm_p2.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC_bestmove_5mm_p3.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_cloze_capture_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_is_check_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_is_legal_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_mat_adv_value_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_mobility_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_under_attack_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_train_contrastive_ntp_200k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainXL_multisample_500k.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainxl_predict_line_866k_p1.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_predict_line_1mm_novalue.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainxl_predict_line_799k_value.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainxl_predict_line_866k_novalue.jsonl
llm_chess/data/cleaned/train_data/chess/latentsft_trainBC1mm_predict_line_800k_value.jsonl

llm_chess/data/infodensity/
llm_chess/data/cleaned/train_data/hf_upload


# Various runscripts to ignore
runscripts/chess/

# Jupyter notebook specific files
.virtual_documents/
.ipynb_checkpoints/
__pycache__/

# Chess Engine Files
llm_chess/data/raw/programmatic_explanations/stockfish/
llm_chess/data/raw/programmatic_explanations/latents_train/
llm_chess/data/raw/programmatic_explanations/prog_data/
llm_chess/data/raw/programmatic_explanations/testing/

# Big data files we'll keep local (for processing / etc.)
llm_chess/data/raw/deepmind_data/deepmind_behavioral_cloning_train_10mm_p1.csv
llm_chess/data/raw/one_move_mate_puzzles/knights_and_rooks.csv
llm_chess/data/raw/one_move_mate_puzzles/more_pieces_puzzles.csv
llm_chess/data/raw/one_move_mate_puzzles/more_pieces_puzzles_20k.csv
llm_chess/data/raw/one_move_mate_puzzles/same_color_puzzles.csv
llm_chess/data/raw/magpie_data/
llm_chess/data/raw/processed_data/
llm_chess/data/raw/rej_sampling_outputs/
llm_chess/data/raw/model_outputs/

# Because of the Mac losers
.DS_Store